<h3>Products</h3>

<div class="row">
  <div class="section">
    <% @products.each do |product| %>
      <div class="col s4">
        <h4><%= link_to product.name, product_path(product.id), remote: true %></h4>
        <div id="product-detail-<%= product.id %>" class="hidden">
          <% if current_user %>
            <% if current_user.admin %>
              <p><%= link_to "Delete", product_path(product), :data => {:confirm => "You sure?", :method => "delete"}  %></p>

              <p><%= link_to "Update", "/update", remote: true %></p>
              <div id="product-update-<%= product.id %>"></div>
            <% end %>
          <% end %>
          <%= image_tag product.image_url %>
          <p><%= product.description %></p>
          <p><%= number_to_currency product.price %></p>
          <%= form_for @order_item, remote: true  do |f| %>
            <%= f.hidden_field :product_id, value: product.id %>
            <span><%= f.number_field :quantity, placeholder: "select number of items" %></span>
            <span class="waves-effect waves-light btn"><%= f.submit "Add to cart"%></span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
